<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.afcat.dal.dao.ImUserDao">
    <select id="getAllUsers" resultType="com.afcat.common.vo.ImUser">
        select * from im_user;
    </select>
</mapper>