<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.afcat.dal.dao.PayLogDao">
    <insert id="writeLog" parameterType="com.afcat.common.vo.PayLog">
       INSERT INTO pay_log VALUES (#{logId},#{logIp},#{logMac},#{logSuccess},#{logClass},#{logMsg},#{logErrorcode},#{logTime});
    </insert>

    <select id="queryErrorLog" resultType="com.afcat.common.vo.PayLog">
      SELECT * from pay_log where log_success = '1';
    </select>
</mapper>