<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.dao.UserDao">
    <insert id="addUser" parameterType="com.afcat.dal.dao.UserDao">
        INSERT INTO user VALUES (#{userId},#{account},#{password},#{userName},#{userRemark});
    </insert>
    <delete id="deleteUser">
        DELETE from user  where user_id = #{userId}
    </delete>
    <select id="login" resultType="com.afcat.common.vo.User" parameterType="com.afcat.common.vo.User">
        select * from user where account = #{account} and password = #{password}
    </select>
    <select id="getAllUser" resultType="com.afcat.common.vo.User">
        select * from user
    </select>
    <update id="updateUser" parameterType="com.afcat.common.vo.User">
        UPDATE user t set  t.user_name = #{userName}, t.user_remark = #{userRemark} where t.user_id = #{userId}
    </update>
    <select id="getUserById" resultType="com.afcat.common.vo.User">
        SELECT * from user t where t.user_id = #{userId}
    </select>
    <select id="validateAccount" resultType="com.afcat.common.vo.User">
        SELECT * from user  where account = #{account}
    </select>
</mapper>